<div class="dropdown-menu">
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/about-us.html">About-us</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/amenities.html">Amenities</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/elements.html">Elements</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Hotels</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Landmark</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Restaurants</a>
    <a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Shopping place</a>
</div>