<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
    		<link rel="stylesheet" href="./about-us_files/bootstrap.css">
			<script src="./about-us_files/jquery-3.2.1.min.js.download"></script>
			<script src="./about-us_files/popper.js.download"></script>
		<script src="./about-us_files/bootstrap.min.js.download"></script>
    </head>
	<div class="dropdown-menu" th:fragment="dropdownMenu">
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/about-us.html">About-us</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/amenities.html">Amenities</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/elements.html">Elements</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Hotels</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Landmark</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Restaurants</a>
		<a class="dropdown-item" href="file:///D:/GitHub/VarnaTravelGuideWeb/vtgw/src/main/resources/public/templates/places.html">Shopping place</a>
	</div>
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="./about-us_files/jquery-3.2.1.min.js.download"></script>
		<script src="./about-us_files/popper.js.download"></script>
		<script src="./about-us_files/bootstrap.min.js.download"></script>
		<script src="./about-us_files/stellar.js.download"></script>
		<script src="./about-us_files/jquery.nice-select.min.js.download"></script>
		<script src="./about-us_files/imagesloaded.pkgd.min.js.download"></script>
		<script src="./about-us_files/isotope-min.js.download"></script>
		<script src="./about-us_files/owl.carousel.min.js.download"></script>
		<script src="./about-us_files/jquery-ui.js.download"></script>
		<script src="./about-us_files/jquery.ajaxchimp.min.js.download"></script>
		<script src="./about-us_files/mail-script.js.download"></script>
		<script src="./about-us_files/jquery.magnific-popup.min.js.download"></script>
		<script src="./about-us_files/swiper.min.js.download"></script>
		<script src="./about-us_files/jquery.mCustomScrollbar.js.download"></script>
		<script src="./about-us_files/theme.js.download"></script>
	    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
	    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
	    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
	
    </body>
</html>